USE [EasyShopDW]
GO
/****** Object:  Table [Bronze].[Customer_a]    Script Date: 03-09-26 18:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bronze].[Customer_a](
	[OrderID] [nvarchar](255) NULL,
	[OrderLineID] [nvarchar](255) NULL,
	[CustomerCode] [float] NULL,
	[CustomerName] [nvarchar](255) NULL,
	[SalesDate] [datetime] NULL,
	[CountryName] [nvarchar](255) NULL,
	[StateName] [nvarchar](255) NULL,
	[Segment] [nvarchar](255) NULL,
	[ProductID] [nvarchar](255) NULL,
	[ProductName] [nvarchar](255) NULL,
	[Category] [nvarchar](255) NULL,
	[Quantity] [float] NULL,
	[UnitPrice] [money] NULL,
	[DiscountPct] [float] NULL,
	[StoreID] [nvarchar](255) NULL,
	[StoreName] [nvarchar](255) NULL,
	[SalesPersonID] [nvarchar](255) NULL,
	[SalesPersonName] [nvarchar](255) NULL,
	[PaymentMethod] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Bronze].[Customer_b]    Script Date: 03-09-26 18:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Bronze].[Customer_b](
	[OrderNumber] [nvarchar](255) NULL,
	[LineNumber] [nvarchar](255) NULL,
	[ClientCode] [nvarchar](255) NULL,
	[FullName] [nvarchar](255) NULL,
	[TransactionDate] [datetime] NULL,
	[CountryCode] [nvarchar](255) NULL,
	[StateName] [nvarchar](255) NULL,
	[CustomerSegment] [nvarchar](255) NULL,
	[SKU] [nvarchar](255) NULL,
	[ProductLabel] [nvarchar](255) NULL,
	[ProductCategory] [nvarchar](255) NULL,
	[Qty] [float] NULL,
	[SellingPrice] [money] NULL,
	[DiscountRate] [float] NULL,
	[ShopCode] [nvarchar](255) NULL,
	[ShopName] [nvarchar](255) NULL,
	[SellerCode] [nvarchar](255) NULL,
	[SellerName] [nvarchar](255) NULL,
	[PaymentType] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Gold].[Dimcustomer]    Script Date: 03-09-26 18:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gold].[Dimcustomer](
	[CustomerKey] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCode] [int] NOT NULL,
	[CustomerName] [nvarchar](100) NULL,
	[CountryName] [nvarchar](255) NULL,
	[StateName] [nvarchar](255) NULL,
	[Segment] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Gold].[DimDate]    Script Date: 03-09-26 18:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gold].[DimDate](
	[DateKey] [int] NOT NULL,
	[FullDate] [date] NOT NULL,
	[DayNumber] [int] NULL,
	[MonthNumber] [int] NULL,
	[MonthName] [nvarchar](30) NULL,
	[QuarterNumber] [int] NULL,
	[YearNumber] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Gold].[DimPaymentMethod]    Script Date: 03-09-26 18:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gold].[DimPaymentMethod](
	[PaymentMethodKey] [int] IDENTITY(1,1) NOT NULL,
	[PaymentMethod] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Gold].[Dimproduct]    Script Date: 03-09-26 18:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gold].[Dimproduct](
	[Productkey] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [nvarchar](255) NOT NULL,
	[ProductName] [nvarchar](255) NULL,
	[Category] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Productkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Gold].[DimSalesPerson]    Script Date: 03-09-26 18:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gold].[DimSalesPerson](
	[SalesPersonKey] [int] IDENTITY(1,1) NOT NULL,
	[SalesPersonID] [nvarchar](255) NOT NULL,
	[SalesPersonName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesPersonKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Gold].[DimStore]    Script Date: 03-09-26 18:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gold].[DimStore](
	[StoreKey] [int] IDENTITY(1,1) NOT NULL,
	[StoreID] [nvarchar](255) NOT NULL,
	[StoreName] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[StoreKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Gold].[FactSales]    Script Date: 03-09-26 18:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Gold].[FactSales](
	[SalesKey] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[OrderLineID] [int] NOT NULL,
	[CustomerKey] [int] NOT NULL,
	[ProductKey] [int] NOT NULL,
	[StoreKey] [int] NOT NULL,
	[SalesPersonKey] [int] NOT NULL,
	[DateKey] [int] NOT NULL,
	[PaymentMethodKey] [int] NOT NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [money] NULL,
	[DiscountPct] [float] NULL,
	[GrossAmount] [money] NULL,
	[DiscountAmount] [money] NULL,
	[NetAmount] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Silver].[Customer]    Script Date: 03-09-26 18:37:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Silver].[Customer](
	[OrderID] [int] NULL,
	[OrderLineID] [int] NULL,
	[CustomerCode] [int] NULL,
	[CustomerName] [nvarchar](255) NULL,
	[SalesDate] [datetime] NULL,
	[CountryName] [nvarchar](255) NULL,
	[StateName] [nvarchar](255) NULL,
	[Segment] [nvarchar](255) NULL,
	[ProductID] [nvarchar](255) NULL,
	[ProductName] [nvarchar](255) NULL,
	[Category] [nvarchar](255) NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [money] NULL,
	[DiscountPct] [float] NULL,
	[StoreID] [nvarchar](255) NULL,
	[StoreName] [nvarchar](255) NULL,
	[SalesPersonID] [nvarchar](255) NULL,
	[SalesPersonName] [nvarchar](255) NULL,
	[PaymentMethod] [nvarchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [Gold].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_Customer] FOREIGN KEY([CustomerKey])
REFERENCES [Gold].[Dimcustomer] ([CustomerKey])
GO
ALTER TABLE [Gold].[FactSales] CHECK CONSTRAINT [FK_FactSales_Customer]
GO
ALTER TABLE [Gold].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_Date] FOREIGN KEY([DateKey])
REFERENCES [Gold].[DimDate] ([DateKey])
GO
ALTER TABLE [Gold].[FactSales] CHECK CONSTRAINT [FK_FactSales_Date]
GO
ALTER TABLE [Gold].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_PaymentMethod] FOREIGN KEY([PaymentMethodKey])
REFERENCES [Gold].[DimPaymentMethod] ([PaymentMethodKey])
GO
ALTER TABLE [Gold].[FactSales] CHECK CONSTRAINT [FK_FactSales_PaymentMethod]
GO
ALTER TABLE [Gold].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_Product] FOREIGN KEY([ProductKey])
REFERENCES [Gold].[Dimproduct] ([Productkey])
GO
ALTER TABLE [Gold].[FactSales] CHECK CONSTRAINT [FK_FactSales_Product]
GO
ALTER TABLE [Gold].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_SalesPerson] FOREIGN KEY([SalesPersonKey])
REFERENCES [Gold].[DimSalesPerson] ([SalesPersonKey])
GO
ALTER TABLE [Gold].[FactSales] CHECK CONSTRAINT [FK_FactSales_SalesPerson]
GO
ALTER TABLE [Gold].[FactSales]  WITH CHECK ADD  CONSTRAINT [FK_FactSales_Store] FOREIGN KEY([StoreKey])
REFERENCES [Gold].[DimStore] ([StoreKey])
GO
ALTER TABLE [Gold].[FactSales] CHECK CONSTRAINT [FK_FactSales_Store]
GO
